.aboutme-container {
    height: 100vh;
  .aboutme-content {
    display: flex;
    justify-content: center;
    .aboutme-avatar {
      width: 45vw;
      img {
        width: inherit;
      }
    }
    .aboutme-chatbubble {
     width: 45vw;
     margin-top: 1.2em;
     display: flex;
     justify-content: center;
     align-items: center;
     img {
        width: inherit;
        position: absolute;
     }
     span {
      z-index: 10;
      max-width: 80%;
      max-height: 70%;
      position: relative;
      top: -7px;
      font-size: 1.3em;
      font-weight: 700;
     }
    }
 }
    
}