.main-content {
    height: 400px;
    background-color: plum;
}

#carousel {

    .carousel-item {
     height: 100%;
     width: 100%;
    }
    
}

#carousel-container {
    display: flex;
    justify-content: center;

}

#carousel-width {
    width: 600px;  
}